<h2>Edit</h2>

<form action="/create" method="POST">
  <input type="text" placeholder="Name" name="name"/><br>
  <input type="text" placeholder="Occupation" name="occupation"/><br>
  <input type="text" placeholder="Catchphrase" name = "catchPhrase"/><br>
  <button>Submit</button>
</form>



