body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.celeb-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
}
